/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 
If the above width is causing issues use this in the main img css 

img.oversized {
  max-width: revert;
}
*/


/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

:root {
  --outer-border: black;
  --ship-back-radius: 15px;
  --ship-front-radius: 100px;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5em;
}


#gameboards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  width: 100%;
}

.gameboard {
  display: grid;
  border: 5px solid var(--outer-border);
}

.grid-element {
  width: 60px;
  height: 60px;
  background-color: lightblue;
  position: relative;
}

.border-element {
  pointer-events: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  border: 1px dashed darkblue;
}

.svg-container {
  pointer-events: none;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
}

#enemy_gameboard .grid-element:not(.miss):not(.hit):hover {
  background-color: lightsalmon;
}

/* SHIP CLASSES */
.ship {
  width: 100%;
  height: 100%;
  border: 3px rgb(66, 65, 65);
}

.ship.not-hit {
  background-color: grey;
}

.ship.hit {
  background-color: red;
}
/* top / right / bottom / left */
/* top / left and right / bottom */
/* top and bottom / left and right */
.ship.back.angle-0 {
  border-top-left-radius: var(--ship-back-radius);
  border-bottom-left-radius: var(--ship-back-radius);
  border-style: solid none solid solid;
}

.ship.back.angle-90 {
  border-top-left-radius: var(--ship-back-radius);
  border-top-right-radius: var(--ship-back-radius);
  border-style: solid solid none;
}

.ship.back.angle-180 {
  border-bottom-right-radius: var(--ship-back-radius);
  border-top-right-radius: var(--ship-back-radius);
  border-style: solid solid solid none;
}

.ship.back.angle-270 {
  border-bottom-right-radius: var(--ship-back-radius);
  border-bottom-left-radius: var(--ship-back-radius);
  border-style: none solid solid;
}

.ship.middle.angle-0, .ship.middle.angle-180  {
  border-style: solid none;
}

.ship.middle.angle-90, .ship.middle.angle-270 {
  border-style: none solid;
}

.ship.front.angle-0 {
  border-style: solid solid solid none;
  border-top-right-radius: var(--ship-front-radius);
  border-bottom-right-radius: var(--ship-front-radius);
}

.ship.front.angle-90 {
  border-style: none solid solid solid;
  border-bottom-left-radius: var(--ship-front-radius);
  border-bottom-right-radius: var(--ship-front-radius);
}

.ship.front.angle-180 {
  border-style: solid none solid solid;
  border-bottom-left-radius: var(--ship-front-radius);
  border-top-left-radius: var(--ship-front-radius);
}

.ship.front.angle-270 {
  border-style: solid solid none solid;
  border-top-right-radius: var(--ship-front-radius);
  border-top-left-radius: var(--ship-front-radius);
}



/* UI */
.round-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  padding: 20px;
  border-radius: 100px;
  margin-bottom: 20px;
  border-right: 3px solid darkgray;
  border-bottom: 3px solid darkgray;

}

.player-turn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  padding: 20px;
  border-radius: 20px;
  border-right: 3px solid darkgray;
  border-bottom: 3px solid darkgray;

}

.game-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  margin-top: 20px;
  border-top: 2px solid lightgray;
  padding: 20px;
}

button {
  border-radius: 10px;
  padding: 10px;
  background-color: lightgray;
  border: none;
  border-bottom: 5px solid darkgray;
  border-right: 5px solid darkgray;

}

button:hover {
  background-color: grey;
  color: white;
  border-color: rgb(60, 60, 60);
}

button:active {
  background-color: rgb(60, 60, 60);
  border: none;
}

.victory-container {
  border: 2px solid var(--border);
  position: absolute;
  background-color: lightgrey;
  width: 25%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border-radius: 20px;
  border-right: 3px solid darkgray;
  border-bottom: 3px solid darkgray;
}

.victory-container * {
  margin-bottom: 10px;
}

/* ship placement */

.ship-section-container {
  width: 60px;
  height: 60px;
  background-color: none;
  position: relative;
}

.ship-selection-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
  
}

.placement-ship {
  display: flex;
  flex-direction: row;
}

